body {
   font-family: 'Indie Flower', cursive;
   text-align: center !important;
   background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F54%2Faf%2Ff2%2F54aff2bf63fc8557cb8a9bc6f7f6e15a.png&f=1&nofb=1&ipt=32aa227f69a5e01a097817c2cc43a52a418ff53373b3a4cd0664f81a206ec84e&ipo=images");
}

#nomeUsuario {
   color: black;
}